body {
    font-family: Helvetica, Roboto, Microsoft JhengHei, Heiti TC, sans-serif;
}

#comic_page_title {
    width: 100%;
    height: auto;
    background: #000;
    color: #50FF44;
    padding: 20px 0;
    text-align: center;
}

#comic_page_title h1 {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
}

.comic_article {
    display: flex;
    margin: 30px auto;
    height: 450px;
    justify-content: center;
    max-width: 600px;
}

.comic_img {
    width: 300px;
    height: 438px;
    box-sizing: border-box;
    border: 5px solid #000;
}

.comic_img>img {
    height: 100%;
    width: 100%;
}

.comic_info_section {
    width: 320px;
}

.comic_title {
    background: #000;
    color: #fff;
    font-size: 36px;
}

.comic_info {
    margin-top: 20px;
    margin-left: 20px;
}

.comic_info_list {
    display: flex;
    font-weight: 700;
    margin-bottom: 10px;
    margin-right: 25px;
}

.comic_info_sub_title {
    width: 60px;
    margin-right: 15px;
}

.comic_info_sub_detail {
    font-weight: normal;
}

.comice_introduce {
    margin-top: 20px;
    margin-left: 20px;
}

.comic_all_chapters {
    display: block;
    margin: 0px auto;
    height: 500px;
    justify-content: center;
    max-width: 600px;
}

.comic_chapters_title {
    width: 181px;
    height: 44px;
    text-align: center;
    color: #fff;
    background: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
}

.comic_chapters {
    border: 4px solid #000;
    padding: 10px 0;
}

.comic_chapters_list {
    line-height: 42px;
    font-size: 16px;
    font-weight: 700;
}

.comic_chapters_list :hover {
    background: #000;
    color: #fff;
    transition: .5s;
}

.comic_chapters_list>a {
    padding-left: 25px;
    width: 100%;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.comic_chapters_list:last-child>a::after {
    content: "NEW";
    width: 55px;
    height: 18px;
    background-color: #4c4c4c;
    color: #50ff44;
    margin-left: 20px;
    padding: 2px 5px;
    animation: 2.5s new linear infinite;
}

/* 按鈕 */

.onoffswitch {
    float: right;
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 5px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #000000;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #FFFFFF;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 26px;
    margin: 2px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/**漫畫頁**/

.comic_page {
    width: 60%;
    height: auto;
    margin: 50px auto;
}